spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

logging:
  level:
    root: info
    org.hibernate.SQL: off

security:
  jwt:
    access-secret: ${JWT_SECRET}
