server:
    port: 8080

spring:
    application:
        name: fineshyttt

    datasource:
        url: jdbc:postgresql://localhost:5432/fineshyttt
        username: postgres
        password: yash

    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                format_sql: true

    flyway:
        enabled: true
        locations: classpath:db/migration

logging:
    level:
        org.hibernate.SQL: debug

security:
    jwt:
        secret: ${JWT_SECRET:dev-secret-change-me-32-bytes-min}
        access-ttl-seconds: 900
